.right-panel {
  &__button {
    margin-top: 20px !important;
    width: 40px !important;
    height: 40px;
    font-size: 12px !important;
    color: white !important;
    background-color: #800c83 !important;
    border-radius: 10px !important;
    padding: 5px 15px 5px 15px !important;
    text-transform: none !important;
  }
}
