.event-list {
  padding: 0 0 0 80px;
  margin: 50px 0 50px 0 !important;
  max-height: 500px;
  overflow-y: scroll;
}

.event-list-right {
  padding: 0 0 0 20px;
  margin: 50px 0 50px 0 !important;
  max-height: 500px;
  overflow-y: scroll;
}

.event-list > * {
  margin: 25px 0;
}

.event-list-right > * {
  margin: 25px 0;
}
