.expandable-card__container {
  width: 345px;
  margin-left: 20px;
  background-color: #644bab;
  border-radius: 8px !important;
  color: white !important;
  cursor: default;
}

.expandable-card__chevron {
  color: white !important;
  border-radius: 2px;
  transition: all 2 linear;
}

.expandable-card__chevron.rotate {
  transform: rotate(-90deg);
}

.expandable-card__details {
  margin-left: 10px;
}

.expandable-card__details-title {
  font-weight: bold;
  font-size: 20px;
}

.expanded-content__container {
  cursor: default;
  background-color: #d3cbe9;
  color: #36226d;
  font-weight: bold;
  font-size: 17px;
  padding: 25px 25px 10px 25px;
  border-radius: 5px;
}

.expanded-content__badge {
  margin-left: 15px;
  padding: 5px 15px 5px 15px;
  background-color: #36226d;
  color: white;
  border: 1px solid #36226d;
  border-radius: 50px;
  font-size: 14px;
}

.expanded-content__first-row {
  margin-bottom: 5px;
  display: inline-block;
}

.expanded-content__category {
  border: 1px solid #36226d;
  padding: 2px 5px 2px 5px;
  border-radius: 50px;
  font-size: 10px;
}

.expanded-content__profiles {
  margin-top: 5px;
}
