.expandable-card {
    &__container {
        width: 345px;
        margin-left: 20px;
        background-color: #644BAB !important;
        border-radius: 10px;
        color: white !important;
        cursor: default;
    }
    &__chevron {
        color: white !important;
        border-radius: 2px;
        transition: all 2 linear;
    }
    &__chevron.rotate {
        transform:rotate(-90deg);
    }
    &__details {
        margin-left: 10px;
        &-title {
            font-weight: bold;
            font-size: 20px;
        }
    }
}

.expanded-content {
    &__container {
        cursor: default;
        background-color: #D3CBE9;
        color: #36226D;
        font-weight: bold;
        font-size: 17px;
        padding: 25px 25px 10px 25px;
        border-radius: 5px;
    }
    &__badge {
        margin-left: 15px;
        padding: 5px 15px 5px 15px;
        background-color: #36226D;
        color: white;
        border: 1px solid #36226D;
        border-radius: 50px;
        font-size: 14px;
    }
    &__first-row {
        margin-bottom: 5px;
        display: inline-block;
    }
    &__category {
        border: 1px solid #36226D;
        padding: 2px 5px 2px 5px;
        border-radius: 50px;
        font-size: 10px;
    }
    &__profiles {
        margin-top: 5px;
    }
}