.landing-page-header__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 10px 20px;
}

.landing-page-header__logo {
  height: 35px;
  width: 220px;
}

.landing-page-header__option {
  font-weight: bold;
  font-size: 20px;
  color: #af9de0;
  text-decoration: none;
}

.landing-page-header__option-active {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.head-button {
  color: white;
  margin: -20px 0 0 0;
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 20px 10px 20px;
  background-color: #5b3f7f;
  border: none;
  border-radius: 0 0 12px 12px;
}

.landing-page-header__button {
  color: white;
  margin: -20px 0 0 0;
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 20px 10px 20px;
  background-color: #5b3f7f;
  border: none;
  border-radius: 0 0 12px 12px;
}

.landing-page-header__login-button {
  color: white;
  margin: -20px 0 0 -180px;
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 20px 10px 20px;
  background-color: #5b3f7f;
  border: none;
  border-radius: 0 0 12px 12px;
}

.landing-page-header__button:hover {
  cursor: pointer;
}

.landing-page-header__login-button:hover {
  cursor: pointer;
}
