.search-bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  background-color: #281857;
  color: white;
  border-radius: 12px;
  border: none;
}

.search-bar__container-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: "500px";
  margin: 20px;
  background-color: #282828;
  border-radius: 12px;
}

.search-bar__element {
  color: "blue";
  width: "500px";
  border: none;
  padding: 10px 15px 10px 15px;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
}

.search-bar__element-dark {
  width: "500px";
  border: none;
  padding: 10px 15px 10px 15px;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
}

// .search-bar__element::-webkit-input-placeholder,
// textarea::-webkit-input-placeholder {
//   color: #616161;
//   font-weight: 600;
// }

// .search-bar__element:-moz-placeholder,
// textarea:-moz-placeholder {
//   color: #616161;
//   font-weight: 600;
// }

.search-bar__icon {
  justify-content: flex-end;
  padding: 0 10px 0 0;
  cursor: pointer;
}
