.landing-card {
    &__container {
        z-index: 0;
        padding: 50px;
        display: block;
    }

    &__picture-container {
        z-index: 3;
        background-color: #18082D;
        border: 1px solid black;
        width: 350px;
        height: 250px;
        border-radius: 20px;
        margin-top: 50px;
        display: inline-block;
    }

    &__picture {
        padding: 8px;
        width: 350px;
        height: 250px;
        border-radius: 20px;
    }

    &__price {
        margin-top: 150px;
        cursor: default;
        font-weight: bold;
        text-align: center;
        background-color: #36226D;
        padding: 35px 10px 35px 20px;
        border-radius: 80px 0 0 80px;
        z-index: 2;
        float: left;
    }

    &__details {
        width: 300px;
        margin: -50px 0 0 20px;
        padding: 50px 15px 10px 15px;
        z-index: 1;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        border-radius: 20px;
        background-color: #211539;
    }

    &__button {
        margin: 10px;
        border-radius: 12px;
        font-weight: bolder;
        font-size: 15px;
        border: none;
        background-color: white;
        padding: 15px 25px 15px 25px;
        cursor: pointer;
    }
}
