.Calendarv{
    margin-top: 10vh;
    background-color: #242424;
    min-height: 80vh;
    border-radius: 25px;
    margin-left: 1vh;
    color: white;
    padding:50px;
;}

.right{
    margin-top: 10vh;
    background-color: #242424;
    padding: 5px;
    color:white;
    border-radius: 20px;
}