.sidebar-icon-list > * {
    display: block !important;
    margin: 20px 0 !important;
}

.karyakram-logo {
    width: 70px !important;
    height: 70px !important;
    justify-content: center !important;
    margin-left: -15px;
}
