body {
    margin: 0;
    height: 100vh;
}

.main-area {
    margin: 20px;
}

.App {
    position: absolute;
    z-index: 1;
}

.astro-planet {
    position: absolute;
    z-index: 2;
    top: 57.4%;
}
