/* RightPanelUpper Sytling */
.right-panel__container {
  padding: 20px;
}

.right-panel__container > * {
  display: block;
  margin: 10px 0;
}

/* Sidebar styling */
.sidebar-icon-list > * {
  display: block !important;
  margin: 20px 0 !important;
}

.karyakram-logo {
  width: 70px !important;
  height: 70px !important;
  justify-content: center !important;
  margin-left: -15px;
}

/* TimeSlotSelection Styling */
.time-slot-selection__container {
  margin: 20px 100px 20px 20px;
}

.time-slot-selection__container > * {
  display: block;
  margin: 15px 0;
}

/* TimeSlotTile styling */
.time-slot__container {
  border: 3px solid #9f65ff;
  border-radius: 10px;
  padding: 5px;
  color: #9f65ff;
  text-align: center;
  cursor: pointer;
  min-width: 150px;
}

.time-slot__container:hover {
  background-color: #dfcece;
}

/* TrendingCard styling */
.trending-card__container {
  border-radius: none !important;
}

.trending-card__title {
  cursor: default !important;
}

.trending-card__register-button {
  background-color: #800c83 !important;
  padding: 8px !important;
  color: white !important;
  border-radius: 10px !important;
  text-transform: none !important;
  margin: 0 20px 0px 20px !important;
}

.trending-card__register-button:hover {
  background-color: #c11fc7 !important;
}

.trending-card__bookmark-button {
  padding: 5px !important;
  padding-bottom: 5px !important;
  border: 3px solid #800c83 !important;
  border-radius: 10px !important;
  text-transform: none !important;
}

.trending-card-container > * {
  margin-left: 20px;
}

/* Dashboard Styling */
.event-list {
  padding: 0 0 0 80px;
  margin: 50px 0 50px 0 !important;
  max-height: 500px;
  overflow-y: scroll;
}

.event-list-right {
  padding: 0 0 0 20px;
  margin: 50px 0 50px 0 !important;
  max-height: 500px;
  overflow-y: scroll;
}

.event-list > * {
  margin: 25px 0;
}

.event-list-right > * {
  margin: 25px 0;
}

/* React Calendar Styling */
.react-calendar {
  margin: 20px;
  padding: 20px;
  width: 500px;
  max-width: 100%;
  background: #1e1e1e;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border: none;
  border-radius: 15px;
}

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
  border-radius: 50px;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: white !important;
  font-weight: bold !important;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
  color: black !important;
  font-weight: bold !important;
  border-radius: 50px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  font-size: 0.75em;
  color: #9f65ff !important;
  cursor: default;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  color: blue !important;
  border-radius: 50px;
}
.react-calendar__month-view__days__day--weekend {
  color: #9f65ff !important;
  border-radius: 50px;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
  border-radius: 50px;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
  border-radius: 50px;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  color: white;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  border-radius: 50px;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 50px;
  color: black !important;
}
.react-calendar__tile--now {
  background: white;
  border-radius: 50px;
  color: black !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #9f65ff;
  color: black !important;
  border-radius: 50px;
}
.react-calendar__tile--hasActive {
  background: #76baff;
  color: black !important;
  border-radius: 50px;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
  color: black !important;
  border-radius: 50px;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
  border-radius: 50px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
  color: black !important;
  border-radius: 50px;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
  border-radius: 50px;
  color: black !important;
}
