.global-date-container {
  color: white;
  cursor: default;
  position: relative;
  width: 100px;
  height: 70px;
  background: #36226d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.global-date-container:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 20px solid #36226d;
  right: -20px;
}
